body {
    background-color: rgb(84, 114, 114);
    background-image: url(/static/images/bkg.jpeg);
    background-size: cover;
    /* text-align: center; */
}

.description {
    background-image: url(/static/images/bg1.jpeg);
    background-size: cover;
    color: white;
    padding: 26px;
}

.akanform {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-size: x-large;
}

.table {
    /* background-image: url(/static/images/bg.jpg); */
    background-color: rgba(181, 250, 250, 0.829);
    width: 55vw;
    padding: 35px;
    font-size: large;
    margin-right: 40px;
    height: 75vh;
}

td {
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    font-style: italic;
}

.form {
    align-items: center;
    padding: 30px;
    background-color: rgba(181, 250, 250, 0.829)
}